{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-object-rest-spread",
    [
      "@babel/plugin-transform-class-properties",
      { "loose": true }
    ],
    [
      "@babel/plugin-transform-private-methods",
      { "loose": true }
    ],
    [
      "@babel/plugin-transform-private-property-in-object",
      { "loose": true }
    ]
  ]
}
